html,
body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;

  background-color: #fff;
}

body {
  font-family: monospace;
  color: #000;

  background-color: #000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

#root {
  height: 100vh;
}
.Scene {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;

  margin: auto auto;
  overflow: hidden;
}
